:root {
  --color-title: #212121;
  --color-btn-link: #2196F3;
  --color-accent: #FFFFFF;
  --color-header-logo: #000000;
  --color-team: #F5F4FA;
  --color-footer: #2F303A;
  --indent-cards: 30px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time-hover: 250ms;
}

body {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  font-style: normal;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-accent);
}

.header {
  background: var(--color-accent);
  border-bottom: 1px solid #ECECEC;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.cite-menu {
  display: flex;
  padding-left: 93px;
}

.cite-menu__item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-btn-link);
  border-radius: 2px;
}

.cite-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-hover) var(--cubic);
}

.cite-menu__link:focus,
.cite-menu__link:hover {
  color: var(--color-btn-link);
}

.current {
  position: relative;
  color: var(--color-btn-link);
}

.connect {
  margin-left: auto;
  display: flex;
}

.connect__email {
  margin-right: 50px;
}

.connect__icon,
.connect__icon {
  margin-right: 10px;
}

.connect__tel,
.connect__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color var(--time-hover) var(--cubic), fill 250ms var(--cubic);
}

.connect__tel:focus,
.connect__tel:hover,
.connect__email:focus,
.connect__email:hover {
  color: var(--color-btn-link);
  fill: var(--color-btn-link);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-btn-link);
}

.header-logo {
  color: var(--color-header-logo);
}

.footer-logo {
  color: var(--color-accent);
}

.f-logo {
  display: block;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0% auto;
}

.hero {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-accent);
  max-width: 700px;
  margin: 0% auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-accent);
  margin: 0% auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  transition: background var(--time-hover) var(--cubic);
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__btn:focus,
.hero__btn:hover {
  background: #188CE8;
}

.content {
  padding-top: 94px;
  padding-bottom: 93px;
}

.content__list {
  display: flex;
}

.content__item {
  flex-direction: column;
  max-width: 270px;
}

.content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}

.content__item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.content__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}

.content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.product {
  padding-bottom: 94px;
}

.product__title {
  margin-bottom: 50px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.product__wrap {
  position: relative;
}

.product__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--color-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin-bottom: 50px;
}

.person-card {
  display: flex;
  flex-wrap: wrap;
}

.person-card__item {
  background: var(--color-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-card__item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.person-card__desc {
  padding-top: var(--indent-cards);
  padding-bottom: var(--indent-cards);
}

.person-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 10px;
}

.person-card__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color-btn-link);
  fill: var(--color-accent);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  margin-bottom: 50px;
}

.company {
  display: flex;
  justify-content: center;
}

.company__item:not(:last-child) {
  margin-right: 30px;
}

.company__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: contain;
  transition: fill var(--time-hover) var(--cubic), border 250ms var(--cubic);
}

.company__link:hover,
.company__link:focus,
.company__link:active {
  fill: var(--color-btn-link);
  border: 1px solid var(--color-btn-link);
}

.footer {
  background: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.cont-footer {
  display: flex;
  align-items: baseline;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.address__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-accent);
  margin-bottom: 9px;
  transition: color var(--time-hover) var(--cubic);
}

.address__text:hover,
.address__text:focus {
  color: var(--color-btn-link);
}

.address__email {
  margin-bottom: 9px;
}

.address__tel,
.address__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-hover) var(--cubic);
}

.address__email:focus,
.address__email:hover,
.address__tel:focus,
.address__tel:hover {
  color: var(--color-btn-link);
}

.join {
  margin-left: 70px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
  text-align: left;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  padding: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-accent);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-hover) var(--cubic);
}

.soc-list__link:hover,
.soc-list__link:focus {
  background-color: var(--color-btn-link);
}

.send {
  margin-left: 93px;
}

.send__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.send__field {
  display: flex;
  justify-content: flex-start;
}

.send__user {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send__user::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send__btn {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin-left: 12px;
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-accent);
  fill: var(--color-accent);
}

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  background: var(--color-team);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--time-hover) var(--cubic), background var(--time-hover) var(--cubic), box-shadow var(--time-hover) var(--cubic);
}

.menu__btn:focus,
.menu__btn:hover {
  color: #FFFFFF;
  background: var(--color-btn-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu .project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.menu > button:active {
  color: var(--color-btn-link);
}

.menu__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__item:not(:last-child) {
  margin-right: 8px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--indent-cards));
  margin-top: calc(-1 * var(--indent-cards));
}

.project > .project__item {
  flex-basis: calc(33.3333333333% - var(--indent-cards));
  margin-left: var(--indent-cards);
  margin-top: var(--indent-cards);
  transition: box-shadow var(--time-hover) var(--cubic);
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__preview-text {
  transform: translateY(0%);
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__preview-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  color: var(--color-accent);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--time-hover) var(--cubic);
  overflow: auto;
}

.project__desc {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project__title {
  margin-bottom: 4px;
}

.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-hover) var(--cubic), visibility var(--time-hover) var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: scale(0.2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--color-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform var(--time-hover);
  transform: translate(-50%, -50%) scale(1);
  transform-origin: top center;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--color-accent);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:focus,
.close-btn:hover {
  fill: var(--color-btn-link);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 12px;
}

.form__field {
  margin-bottom: 10px;
}

.form__user {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input-wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color var(--time-hover) var(--cubic);
  outline: none;
}

.form__input:focus {
  border-color: var(--color-btn-link);
}

.form__input:focus + .input-icon {
  fill: var(--color-btn-link);
}

.form__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time-hover) var(--cubic);
}

.form__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__check-text-link:hover,
.form__check-text-link:focus {
  color: #188CE8;
}

.form__check-text > a {
  text-decoration-line: underline;
  color: var(--color-btn-link);
  transition: color var(--time-hover) var(--cubic);
}

.form__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-title);
  border-radius: 2px;
  margin-right: 8px;
  transition: border var(--time-hover) var(--cubic);
}

.form__check:checked + .form__check-text::before {
  background-color: var(--color-btn-link);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form__check:hover + .form__check-text::before,
.form__check:focus + .form__check-text::before {
  border: 2px solid var(--color-btn-link);
}

.btn-send {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0% auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-accent);
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--time-hover) var(--cubic);
}

.btn-send:hover,
.btn-send:focus {
  background: #188CE8;
}/*# sourceMappingURL=main.css.map */