:root {
  --color-title: #212121;
  --color-btn-link: #2196F3;
  --color-accent: #FFFFFF;
  --color-header-logo: #000000;
  --color-team: #F5F4FA;
  --color-footer: #2F303A;

  --indent-cards: 30px;
}

body {
font-family: 'Roboto', Verdana, Tahoma, sans-serif;
font-style: normal;
color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0% auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
list-style-type: none;
}

.hero-btn {
  background: var(--color-btn-link);
  /* cursor: pointer; */
}

.btn {
  font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--color-accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

 /* ----------- header ----------------- */
.header {
  background: var(--color-accent);
  border-bottom: 1px solid #ECECEC;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--color-btn-link);

}

.header-logo {
  color: var(--color-header-logo);
}

.footer-logo {
  color: var(--color-accent);
}

.header-list {
  display: flex;
  padding-left: 93px;
}

.header-item:not(:last-child) {
margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
display: block;
padding-top: 32px;
padding-bottom: 32px;
}

.header-link:focus,
.header-link:hover {
  color: var(--color-btn-link);
}

.current {
  color: var(--color-btn-link);
}

.header-connect {
  margin-left: auto;
  display: flex;
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-email-icon {
  margin-right: 10px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}

.header-tel-icon {
  margin-right: 10px;
}

.header-tel:focus,
.header-tel:hover,
/* .header-tel:active, */
.header-email:focus,
.header-email:hover
/* .header-email:active */
{
color: var(--color-btn-link);
fill: var(--color-btn-link);
  }

  /* ----------- hero  ----------------- */
.hero {
background: #2F303A;
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url(../images/hero.jpg);
background-position: center;
background-repeat: no-repeat;
}

  .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-accent);
  max-width: 700px;
  margin: 0% auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-accent);
  margin: 0% auto;
  width: 200px;
  height: 50px;
justify-content: center;
}

.hero-btn:focus,
.hero-btn:hover {
  background: #188CE8;
}

/* -----------------content------------------ */
.content {
padding-top: 94px;
padding-bottom: 93px;
}

.content-list {
  display: flex;
}

.content-item {
  flex-direction: column;
  max-width: 270px;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
height: 120px;
background: var(--color-team);
border-radius: 4px;
margin-bottom: 30px;
}

.content-item:not(:last-child){
  margin-right: var(--indent-cards);
}

.content-title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-title);
margin-bottom: 10px;
}

.content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*------------------product----------------- */
.product {
padding-bottom: 94px;
}

.title {
  font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
}

.product-title {
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item:not(:last-child) {
  margin-right: var(--indent-cards);
}

/* ------------------team---------------------- */
.team {
  background: var(--color-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  background: var(--color-accent);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.team-item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.team-desc {
  padding-top: var(--indent-cards);
  padding-bottom: var(--indent-cards);
}

.team-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}

.team-contact {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-contact-item:not(:last-child) {
margin-right: 10px;
}

.team-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border-radius: 50%;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--color-btn-link);
  fill: var(--color-accent);
}
/* ------------------customer----------------- */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-bottom: 50px;
}

.customer-list {
  display: flex;
justify-content: center;
}

.customer-item:not(:last-child) {
margin-right: 30px;
}

.customer-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: contain;
}

.customer-link:hover,
.customer-link:focus,
.customer-link:active {
  fill: var(--color-btn-link);
  border: 1px solid var(--color-btn-link);
  box-sizing: border-box;
  border-radius: 4px;
}

/* ----------------------footer------------------ */

.footer {
  background: var(--color-footer);
padding-top: 60px;
padding-bottom: 60px;
  }

  .cont-footer {
  display: flex;
  align-items: baseline;
  }

  .f-logo {
  display: block;
  }

.address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-text {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-accent);
margin-bottom: 9px;
}

.footer-text:hover,
.footer-text:focus {
  color: var(--color-btn-link);
}

.footer-email {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
}

.footer-tel {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-email:focus,
.footer-email:hover,
.footer-tel:focus,
.footer-tel:hover {
  color: var(--color-btn-link);
}

.footer-join {
  margin-left: 70px;
}

.f-join-title {
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-accent);
margin-bottom: 20px;
}

.f-join-list {
display: flex;
justify-content: center;
}

.f-join-item:not(:last-child) {
  margin-right: 10px;
}

.f-join-link {
padding: 0;
width: 44px;
height: 44px;
display: flex;
justify-content: center;
align-items: center;
fill: #FFFFFF;
border-radius: 50%;
background: rgba(255, 255, 255, 0.1);
}

.f-join-link:hover,
.f-join-link:focus {
  background-color: var(--color-btn-link);
}


/* -----------------portfolio------------------ */
.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-btn-text {
  font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
background: var(--color-team);
border: none;
border-radius: 4px;
padding: 6px 22px;
}

.menu-btn-text:focus,
.menu-btn-text:hover {
  color: #FFFFFF;
  background: var(--color-btn-link);
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu
.project-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-title);
}

.menu > button:active {
color: var(--color-btn-link);
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--indent-cards));
  margin-top: calc(-1 * var(--indent-cards));
}

.projects > .project-list-item {
  flex-basis: calc(100%/3 - var(--indent-cards));
  margin-left: var(--indent-cards);
  margin-top: var(--indent-cards);
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-desc {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project-title {
margin-bottom: 4px;
}

.project-text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}