.content {
    padding-top: 60px;
    padding-bottom: 60px;
  
  @include desktop {
  padding-top: 94px;
  padding-bottom: 93px;
  }
}

.content__list {

  @include mobile {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @include desktop {
  display: flex;
  }
}

.content__item {
width: 100%;
margin-bottom: 30px;
  
  @include tablet {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @include desktop {
  flex-direction: column;
  max-width: 270px;
  }
}

.content__img {
  @include flex($df:flex, $jc:center, $ai:center);
  height: 120px;
  background: var(--color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}

.content__title {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.content__text {
  @include font(14px, 1.71, null, 0.03em);

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}