.hero {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), 
  url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

  .hero__title {
  @include font(44px, 1.36, 900, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  max-width: 700px;
  margin: 0% auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: inherit;
  color: var(--color-accent);
  margin: 0% auto;
  width: 200px;
  height: 50px;
  transition: background var(--time-hover) var(--cubic);
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:focus,
  &:hover {
    background: #188CE8;
  }
}


