.team {
  background: var(--color-team);
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  @include desktop {
  margin-bottom: 50px;
  }
}

.person-card {
  margin-bottom: -30px;
  
  @include tablet {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  }
}

.person-card__item {
  background: var(--color-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  
  @include tablet {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  }
  @include desktop {
  width: calc(100% / 4 - 30px);
  }
}

.person-card__desc {
  padding-top: var(--indent-cards);
  padding-bottom: var(--indent-cards);
}

.person-card__name {
  @include font(16px, 1.18, 500, 0.03em);
  text-align: center;
  color: var(--color-title);
  margin-bottom: 10px;
}

.person-card__position {
  @include font(16px, 1.18, null, 0.03em);
  text-align: center;
}

.social {
  @include flex($df:flex, $jc:center, $ai:null);
}

.person-card__social {
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  @include flex($df:flex, $jc:center, $ai:center);
  fill: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic), 
  fill 250ms var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--color-btn-link);
    fill: var(--color-accent);
  }
}

