.footer {
  background: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px; 
}

.footer-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include desktop {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    }
}

.cont-footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px)  {
      display: flex;
    align-items: baseline;
    flex-direction: row;
}
      @include tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
}

.footer-adres {
    margin-bottom: 60px;

    @include desktop {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  @include desktop {
    align-items: flex-start
  }
}

.address__text {
  @include font(14px, 1.71, null, 0.03em);
  color: var(--color-accent);
  margin-bottom: 8px;
  transition: color var(--time-hover) var(--cubic);
  &:hover,
  &:focus {
    color: var(--color-btn-link);
  }
  @include desktop {
    margin-bottom: 9px;
  }
}

.address__email {
  margin-bottom: 9px;
}

.address__tel,
.address__email {
  @include font(14px, 1.7, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-hover) var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
  }
}

.adress__join {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: 165px;
  }

  @include desktop {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.join__title {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.soc-list {
@include flex($df:flex, $jc:center, $ai:null);
margin-bottom: 60px;
@include desktop {
  margin-bottom: 0;
}
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  padding: 0;
  width: 44px;
  height: 44px;
  @include flex($df:flex, $jc:center, $ai:center);
  fill: var(--color-accent);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-hover) var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--color-btn-link);
  }
}

.adress__send {
  @include desktop {
  margin-left: 93px;
  }
}

.send__title {
  display: flex;
  justify-content: center;
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.send__form {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.send__field {
  @include desktop {
    display: flex;
  }
}

.send__user {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  width: calc(100vw - 30px);
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  @include font(16px, 1.25, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
  @include font(16px, 1.25, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}

@include mobile {
  width: 450px;
}

@include desktop {
  width: 358px;
  margin-bottom: 0;
}
}

.send__btn {
  width: 200px;
  height: 50px;
  padding: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: space-evenly;
  fill: var(--color-accent);

  @include desktop {
      margin-left: 12px;
  }
}