
.footer {
  background: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px; 
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.cont-footer {
  display: flex;
  align-items: baseline;
}


.address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.address__text {
  @include font(14px, 1.71, null, 0.03em);
  color: var(--color-accent);
  margin-bottom: 9px;
  transition: color var(--time-hover) var(--cubic);
  &:hover,
  &:focus {
    color: var(--color-btn-link);
  }
}

.address__email {
  margin-bottom: 9px;
}

.address__tel,
.address__email {
  @include font(14px, 1.7, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-hover) var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
  }
}

.adress__join {
  margin-left: 70px;
}

.join__title {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
  text-align: left;
}

.soc-list {
@include flex($df:flex, $jc:center, $ai:null);
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  padding: 0;
  width: 44px;
  height: 44px;
  @include flex($df:flex, $jc:center, $ai:center);
  fill: var(--color-accent);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-hover) var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--color-btn-link);
  }
}

.adress__send {
  margin-left: 93px;
}

.send__title {
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.send__field {
@include flex($df:flex, $jc:flex-start, $ai:null);
}

.send__user {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  @include font(16px, 1.25, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
  @include font(16px, 1.25, null, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}
}


.send__btn {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin-left: 12px;
  background: var(--color-btn-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: space-evenly;
  fill: var(--color-accent);
}