.header {
  background: var(--color-accent);
  border-bottom: 1px solid #ECECEC;
  .conteiner {
    display: flex;
    align-items: center;
  }
}


.menu-mobile {
  width: 100%;
  display: flex;
  @media (max-width: 767px) {
    display: none;
  }
}

.cite-menu {
  display: flex;
  padding-left: 93px;
}

.cite-menu__item:not(:last-child) {
  margin-right: 50px;
}

.current {
  position: relative;
  color: var(--color-btn-link);
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-btn-link);
    border-radius: 2px;
  }
}

.cite-menu__link {
  @include font(14px, 1.14, 500, 0.02em);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-hover) var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
  }
}

.connect {
  @include tablet {
  display: grid;
  justify-items: start;
  }
  @include desktop {
    display: flex;
    margin-left: auto;
  }
}

.connect__email {
  margin-right: 50px;
}

.connect__icon {
  margin-right: 10px;
}

.connect__tel,
.connect__email {
  @include font(14px, 1.14, 500, 0.02em);
  color: #757575;
  @include flex($df:flex, $jc:center, $ai:center);
  transition: color var(--time-hover) var(--cubic),
  fill 250ms var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
    fill: var(--color-btn-link);
  }
}