.header {
  background: var(--color-accent);
  border-bottom: 1px solid #ECECEC;
  .conteiner {
    display: flex;
    align-items: center;
  }
}

.cite-menu {
  display: flex;
  @include mobile {
  padding-left: 88px;
  }
  @include desktop {
  padding-left: 93px;
  }
}

.cite-menu__item:not(:last-child) {
  margin-right: 50px;
}

.cite-menu__link {
  @include font(14px, 1.14, 500, 0.02em);
  color: var(--color-title);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time-hover) var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
  }
}

.current {
  position: relative;
  color: var(--color-btn-link);
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-btn-link);
    border-radius: 2px;
  }
}

.connect {
  @include tablet {
  display: grid;
  justify-items: start;
  align-content: space-evenly;
  }
  @include desktop {
    display: flex;
  }
}

@include desktop {
.connect__email {
  margin-right: 50px;
}
}

.connect__icon {
  margin-right: 10px;
}

.connect__tel,
.connect__email {
  @include font(14px, 1.14, 500, 0.02em);
  color: #757575;
  @include flex($df:flex, $jc:center, $ai:center);
  transition: color var(--time-hover) var(--cubic),
  fill 250ms var(--cubic);
  &:focus,
  &:hover {
    color: var(--color-btn-link);
    fill: var(--color-btn-link);
  }

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    @include font(12px, 1.16, 500, 0.02em);
  }
}