.logo {
  font-family: 'Raleway';
  font-style: normal;
  @include font(26px, 1.19, 700, 0.03em);
  color: var(--color-btn-link);
}

.header__logo {
  color: var(--color-header-logo);
}

.footer__logo {
  color: var(--color-accent);
}

.footer__logo-block {
  display: block;
}