
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--color-btn-link);
}

.header-logo {
  color: var(--color-header-logo);
}

.footer-logo {
  color: var(--color-accent);
}

.f-logo {
display: block;
}