.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 15px 48px 40px;
  background: var(--color-accent);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {

}

.mobile-menu__link {
@include font (40px, 1.17, 500, 0.02em);
color: var(--color-title);
}

.mobile-menu-soc {
display: flex;
flex-wrap: wrap;
}

.mobile-menu-soc__link {
    @include font (18px, 1.22, 500, 0.02em);
    color: var(--color-btn-link);
}