.menu {
    padding-top: 60px;
    padding-bottom: 60px;
  @include desktop {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.menu__btn {
  font-family: inherit;
  font-style: normal;
  @include font(16px, 1.62, 500, 0.03em);
  text-align: center;
  color: var(--color-title);
  background: var(--color-team);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--time-hover) var(--cubic),
    background var(--time-hover) var(--cubic),
  box-shadow var(--time-hover) var(--cubic);
  &:focus,
  &:hover {
    color: #FFFFFF;
    background: var(--color-btn-link);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.menu > button:active {
  color: var(--color-btn-link);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  
  @include tablet {
    margin-bottom: 30px;
    justify-content: center;
  }
  @include desktop {
  @include flex($df:flex, $jc:center, $ai:null);
  margin-bottom: 50px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
