.project {
  display: flex;
  flex-wrap: wrap;
}

.menu__project {
  margin-left: calc(-1 * var(--indent-cards));
  margin-top: calc(-1 * var(--indent-cards));
}

.project > .project__item {
  flex-basis: calc(100%/3 - var(--indent-cards));
  margin-left: var(--indent-cards);
  margin-top: var(--indent-cards);
  transition: box-shadow var(--time-hover) var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrap {
  position: relative;
  overflow: hidden;
}

.project__preview-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  color: var(--color-accent);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--time-hover) var(--cubic);
  overflow: auto;
  .project__item:hover & {
    transform: translateY(0%);
  }
}

.project__desc {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.project__title {
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}