.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

.title {
  @include font(28px, 1.18, 700, 0.03em);
  text-align: center;
  color: var(--color-title);
  margin-bottom: 30px;

  @include desktop {
  @include font(36px, 1.16, 700, 0.03em);
  margin-bottom: 50px;
  }
}

.btn {
  font-family: inherit;
  font-style: normal;
  @include font(16px, 1.87, 700, 0.06em);
  @include flex($df:flex, $jc:center, $ai:center);
  text-align: center;
  color: var(--color-accent);
  border-radius: 4px;
}