.link {
  text-decoration: none;
  font-style: normal;
}

.list {
list-style-type: none;
}

.title {
  font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
}

.btn {
  font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--color-accent);
}